<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= album.title %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <%- include ./navbar %>
  <h1><%= album.title %></h1>
  <em>by <%= album.artist %></em>

  <form action="/albums/<%= album.id%>/reviews/new" method="GET">
    <button type="Submit">New Review</button>
  </form>

  <h2>Reviews</h2>
  <% reviews.forEach(function(review) { %>
    <h1><%= review.title %></h1>
    <h1><%= review.review_date.toDateString().substring(0, 15) %></h1>
    <h1><%= review.content %></h1>
    <h1><%= review.review_author%></h1>
  <% }) %>

  <!-- TODO: implement album reviews -->

</body>
</html>
