<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= album.title %></title>
  <%- include ./partials/scripts %>
</head>
<body>
  <%- include ./partials/navbar %>
  <h1><%= album.title %></h1>
  <em>by <%= album.artist %></em>

  <form action="/albums/<%= album.id%>/reviews/new" method="GET">
    <button type="Submit">New Review</button>
  </form>

  <h2>Reviews</h2>
  <% reviews.forEach(function(review) { %>
    <h1><%= review.title %></h1>
    <h1><%= review.review_date.toDateString().substring(0, 15) %></h1>
    <h1><%= review.content %></h1>
    <h1><%= review.author_name%></h1>
    <% if (loggedInUser[0].id === review.author_id) { %>
      <button class="fa fa-trash"></button>
    <% } %>
  <% }) %>

  <!-- TODO: implement album reviews -->

</body>
</html>
