<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <%- include ./partials/scripts %>

</head>
<body>

<%- include ./partials/navbar %>

<img class="home-page-image" src="https://static.pexels.com/photos/19951/arm-sound-retro-audio-19951.jpg" />
<br>
<br>

<div class="album-list col-md-3">
  <h2>Records</h2>
  <br>
  <% albums.forEach(function(album) { %>
    <div>
      <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
      <span><%= album.artist %></span>
    </div>
    <br>
  <% }) %>
</div>

<div class="recent-reviews col-md-9">
  <h2 class="recent-reviews-heading">Recent Reviews</h2>
  <br>
  <% reviews.forEach(function(review) { %>
    <h5 class="album-reviewed col-md-9"><a href="/albums/<%= review.album_id %>"><%= review.title %></a></h5>
    <h5 class="review-date"><%= review.review_date.toDateString().substring(0, 15) %></h5>
    <h6 class="review-content"><%= review.content %></h6>
    <h5 class="space-before-author col-md-8"></h5><h5 class="review-author">by <a href="/users/<%= review.author_id %>"><%= review.author_name%></a></h5>
    <br>
    <br>
    <br>
  <% }) %>
</div>

</body>
</html>
