<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <%- include ./partials/scripts %>

</head>
<body>

  <%- include ./partials/navbar %>


  <h2>Records</h2>

  <div class="album-list">
    <% albums.forEach(function(album) { %>
      <div>
        <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
        <span><%= album.artist %></span>
      </div>
    <% }) %>
  </div>

  <h2>Reviews</h2>
  <% reviews.forEach(function(review) { %>
    <h1><%= review.title %></h1>
    <h1><%= review.review_date.toDateString().substring(0, 15) %></h1>
    <h1><%= review.content %></h1>
    <h1><%= review.author_name%></h1>
  <% }) %>

</body>
</html>
