<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : New Review for <%= album.title %></title>
  <%- include ./partials/scripts %>

</head>
<body>
  <%- include ./partials/navbar %>
  <h1>New Review for <%= album.title %></h1>
  <form action="/albums/<%= album.id%>/reviews/new" method="POST">
    <textarea class="new-review-box" rows="15" cols="55" name="content"></textarea>
    <button type="submit">Submit</button>
  </form>
</body>
