<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : New Review for <%= album.title %></title>
  <%- include ./partials/scripts %>

</head>
<body>
  <%- include ./partials/navbar %>
  <br>

  <h1 class="new-review-form-title">New Review for <%= album.title %></h1>
  <br>
  <form class="new-review-form" action="/albums/<%= album.id%>/reviews/new" method="POST">
    <textarea class="new-review-box form-control" rows="15" cols="55" name="content"></textarea>
    <br>
    <button class="btn-default new-review-submit-button" type="submit">Submit</button>
  </form>
</body>
