<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= profile.name %></title>
  <%- include ./partials/scripts %>

</head>
<body>
  <%- include ./partials/navbar %>

  <h1><%= profile.name %></h1>
  <h5> Email <%= profile.email %></h5>
  <h5> Date Joined <%= profile.join_date.toDateString().substring(0, 15) %></h5>

  <h2>Reviews</h2>
  <% reviews.forEach(function(review) { %>
  <div class="user-page-individual-review">
    <div class="individual-review">
      <h5 class="album-id"><%= review.album_id %></h5>
      <h5 class="review-id"><%= review.review_id %></h5>
      <h5 class="album-reviewed col-md-8"><%= review.title %></h1>
      <h5 class="review-date"><%= review.review_date.toDateString().substring(0, 15) %></h1>
      <% if (loggedInUser.id === review.author_id) { %>
        <button class="fa fa-trash"></button>
      <% } %>
      <h6 class="review-content"><%= review.content %></h1>
    </div>
  </div>
  <br>
  <% }) %>

</body>
</html>
