<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= profile.name %></title>
  <%- include ./partials/scripts %>

</head>
<body>
  <%- include ./partials/navbar %>

  <img class="profile-pic" src= "http://media.istockphoto.com/photos/smiley-face-drawing-picture-id157527255" width="200px" height="200px" />
  <div class="user-page-title">
    <h1><%= profile.name %></h1>
    <h3><b>Email</b> <%= profile.email %></h3>
    <h3><b>Date Joined</b> <%= profile.join_date.toDateString().substring(0, 15) %></h3>
  </div>
  <br>
  <div class="user-review-list">
    <% if (reviews.length === 0) { %>
      <h5 class="col-md-8">No reviews yet!</h5>
    <% } else { %>
      <h2 class="col-md-10">Reviews</h2>
      <% reviews.forEach(function(review) { %>
      <div class="user-page-individual-review">
        <div class="individual-review">
          <h5 class="album-id"><%= review.album_id %></h5>
          <h5 class="review-id"><%= review.review_id %></h5>
          <h5 class="album-reviewed col-md-8"><a href="/albums/<%= review.album_id%>"><%= review.title %></a></h1>
          <h5 class="review-date"><%= review.review_date.toDateString().substring(0, 15) %></h1>
          <% if (loggedInUser.id === review.author_id) { %>
            <button class="fa fa-trash"></button>
          <% } %>
          <h6 class="review-content"><%= review.content %></h1>
        </div>
      </div>
      <br>
      <% }) %>
    <% } %>
  </div>

</body>
</html>
